/* Navbar */

.ul-nav {
  text-align: center;
}

.nav-img {
  height: 58px;
  width: 66px;
  margin: 3px;
}

.navbar-brand {
  font-size: 1.5rem;
}
.nav-link {
  font-size: 1.3rem;
}

/* Breadcrumb */

.bd-link {
  color: grey;
  font-size: 1.2rem;
}

.bd-link.active {
  color: blue;
}

/* Carousel images */

.img1,
.img2,
.img3 {
  height: 700px;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 20px;
  }
  .img1,
  .img2,
  .img3 {
    height: 50%;
    font-size: 150%;
  }
}
/* About Section */

/* Commons */
a {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
